*{
    box-sizing: border-box;
}
body{
    font-family: arial;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header{
    background-color: #566c2b;
    display: flex;
    align-items: center;
    padding: 15px;
   
}
header a{
    color: white;
    text-decoration: none;
}
header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#logo{
    margin: 0 auto;
    font-size: 30px;
}
#menu li{
    padding: 10px;
}

#social-link li{
    padding: 10px;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#main{
    display: flex;
}
aside{
    flex: 0 0 20vw;
    padding:20px;
    background: beige;
}
aside img{
    width: 100%;
}

aside ul{
    list-style: none;
    padding: 0;
}
aside a{
    padding: 10px;
    text-decoration: none;
    display: block;
    color: #566c2b;
    border-bottom: 1px solid gray;
}

.call-to-action a{
    text-decoration: none;
    background: gray;
    border: 1px solid transparent;
    color: white;
    padding: 8px 13px;
    display: block;
}
.call-to-action{
    align-self: flex-start;
    margin-top: auto;
}
.call-to-action a:hover{
    background: transparent;
    border: 1px solid grey;
    color: gray;
}


article{
    padding: 10px;
}
.service-box h3{
    margin:5px  0 5px;
}
.service-box p{
    margin: 0 0 1px;
}
.service-box{
    border: 1px solid #eee;
    flex-basis: 32%;
    max-width: 370px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.service-box img{
    width: 100%;
}
footer{
    background: #566c2b;
    color: white;
    text-align: center;
    padding: 15px;
}


@media screen and (max-width:850px){
   .service-box{
    flex-basis: 48%;
   }
   aside{
    flex: 0 0 30vw;
   }
}
@media screen and (max-width:600px){
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    #main{
        flex-direction: column;
    }
    article{
        order: -1;
    }
    .services-container{
       flex-direction: column;
       align-items: center;
    }
    h2{
        text-align: center;
    }
}